
<h1>Pleased to make your acquaintance!</h1><br>

<div><img align="right" src="images/signup_kitty.jpg"></div>

<h3>Register here:</h3>

<% if flash[:error] %>
  <p class="error-text">The following error(s) occurred:</p>
  <p class="error-text"><%= flash[:error] %></p>
<% end %>

<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:" required><br><br>
  <input type="email" name="email" placeholder="Email:" required><br><br>
  <input type="password" name="password" placeholder="Password:" required><br><br>
  <input type="submit" value="Sign Up">
</form>

