<div><img align="right" src="images/pika_kitty.jpg"></div>
<!-- NEED TO FIX IMAGE BUG HERE -->
<h1>Create a new post</h1>

<form action="/posts" method="POST">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br>
    <label for="colour">Colour:</label><br>
    <input type="text" id="colour" name="colour" required><br>
    <label for="gender">Gender:</label><br>
    <input type="text" id="gender" name="gender" required><br>    
    <label for="age">Age:</label><br>
    <input type="text" id="age" name="age" required><br><br>
    <input type="submit" value="Create Post">
</form>


