<header><img align="right" src="images/pika_kitty.jpg"></header>

<h1>Save an animal!</h1> 
<h1>Enhance your karma!</h1><br>

<p>To view all the animals looking for a new home</p>

<p>If you are already a member log in here</p>

<p>To register with us please enter your details here</p>