<div><img align="right" src="images/pika_kitty.jpg"></div>

<% if flash[:error] %>
  <p>The following error(s) occurred:</p>
  <p class="error-text"><%= flash[:error] %></p>
<% end %>

<h1>Save a kitty!</h1> 
<h1>Enhance your karma!</h1><br>

<p>To view all the animals looking for a new home,<br>
please click <a href="/posts">here</a></p>


<p>If you are already a member log in <a href='/login'>here</a></p>

<p>To register with us please enter your details <a href='/signup'>here</a></p>