<header><img align="right" src="images/ginger_kitten.jpg"></header>

<h1>Could you give one of these friendly felines a forever home?</h1>

<% @posts.each do |post| %>
    
    <a href="/posts/<%= post.id %>"<%= post.name %></a><br>

<% end %>