<h1>Pleased to make your aquaintance!</h1><br>

<header><img align="right" src="images/signup_kitty.jpg"></header>

<h3>Register here:</h3>
<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:"><br><br>
  <input type="password" name="password" placeholder="Password:"><br><br>
  <input type="submit" value="Sign Up">
</form>
